<header>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand container" href="/">EJS</a>
		<ul class="navbar-nav mr-auto" style="margin-left: 5px;">
			<li class="nav-item">
				<a class="nav-link" href="/">Início</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/sobre">Sobre</a>
			</li>
		</ul>
	</nav>
</header>