<!DOCTYPE html>
<html lang="pt-br">
<%- include("../partials/head.ejs") %>

<body class="container">
	<%- include("../partials/header.ejs") %>

	<main>
		<div class="bg-secondary text-center text-white">
			<h1>Node com EJS</h1>
			<p>Vamos aprender a trabalhar com arquivos EJS</p>

			<hr>

			<article class="text-start p-3">
				<p>Esse site foi feito usando arquivos.ejs (no lugar de HTML), biblioteca 'Express' do JS (para controle de rotas), NodeJS (para hospedagem local) e Bootstrap (para facilitar a estilização).</p>
				<p>Feito seguindo o <a href="https://app.rocketseat.com.br/node/node-js-ejs-html-inteligente" target="_blank" rel="noreferrer noopener" class="link-dark fw-bold">tutorial da Rocketseat</a></p>
			</article>
		</div>
	</main>

	<%- include("../partials/footer.ejs") %>
</body>
</html>